#component-container {
  display: flex;
  flex-direction: row;
  background-color: #dbd7d7;
  border: 10px solid #97f0d7;
  margin: auto;
  padding: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
}
