.tabs {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.tab {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  &:hover {
    color: #fff;
    background-color: #F7D060;
  }
}

.active {
  background-color: #321E1E;
  color: #fff;
  &:hover {
    opacity: 0.75;
  }
}

.inactive {
 
}

/* @media (max-width: 768px) {
  .menu-bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .tabs {
    flex-direction: column;
  }
} */

.play-btn {
  padding: 5px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  border-radius: 24px;
  background-color: #32ba4b;
  color: #e3edeb;
  cursor: pointer;
  font-family: Poppins;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  &:hover {
    color: #c9f7f5;
    background-color: #1bc5bd;
  }
}

.pause-btn {
  padding: 5px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  border-radius: 24px;
  color: #e9f5f4;
  cursor: pointer;
  font-family: Poppins;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  &:hover {
    color: #c9f7f5;
    background-color: #1bc5bd;
  }
}
