.resizable-container {
  position: relative;
  margin: auto;
  background-color: #f0f0f0;
  border: 10px solid #97f0d7;
  overflow: scroll; /* Hide overflowing content when resized */
  cursor: auto;
  align-items: flex-start;
}
.resizable-container::-webkit-scrollbar {
  display: none;
}

.child-component {
  padding: 0px 10px;
}
